*{padding: 0; margin: 0;}
 html, body
{
    height: 100%;
    font-family: Arial;
    font-size: 17px;
} 

#home{height: 100%; width:100%;}
#about{height:100%; width:100%; background-color:yellow;}
#projects{height:100%; width:100%; background-color:green;}
#contact{height:100%; width:100%; background-color:blue;}
nav{
    position: fixed;
    background-color: black;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}



.main, .menu {
  display: flex;
  justify-content: left;
  align-items: center; 
}

.main {
  position: fixed;
  background-color:  rgba(0, 0, 0, 0.5);
  padding: 5px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  margin-left: 10px;
  margin-top: 10px;
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
.main input:checked ~ .menu {
  width: 400px;
}
.menu li {
  list-style: none;
  margin: 0 10px;
}
.menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}
.menu li a:hover {
  color: #161919;
}
.main input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}
.main span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  transition: 0.5s;
}
.main input:checked ~ span {
  background-color: rgb(0, 0, 0);
}
.main span:nth-child(2) {
  transform: translateY(-8px);
}
.main input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.main span:nth-child(3) {
  transform: translateY(8px);
}
.main input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
.main input:checked ~ span:nth-child(4) {
  display: none;
}


.content {
  position: absolute;
  /*top: 140px;*/
  /* bottom: 20px;  */
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
  text-align: center;
  right: 0;
  bottom: 0;
}



.button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: Arial;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* Font awesome icons*/
.fa {
  padding: 12px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {   background: #007bb5;   color: white; }

.fa-envelope {   background: #000000;   color: white; }

.fa-twitter {
  background: #55ACEE;
	color: white;}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.social-icon{
  position: absolute;
   /* margin-left:800px; 
  margin-right:10px;  */
  top: 10px;
  right: 10px;
}